.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  max-width: 400px;
  width: 100%;
  margin: 30px auto 0;
}

.mat-card-header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  a {
    margin-left: auto;
  }
  
  .mat-card-title {
    margin-bottom: 0;
  }
}

.spiner__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
