<div *ngIf="!loading">
  <mat-toolbar>
    Users
    <button
      mat-fab
      style="margin-left: auto"
      [routerLink]="[ '/create']"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <mat-list>
    <mat-list-item style="padding-top: 10px;">
      <mat-form-field>
        <input
          matInput
          placeholder="Filter Users by name..."
          [(ngModel)]="searchString"
        >
      </mat-form-field>
    </mat-list-item>
    <mat-list-item *ngFor="let user of users | usersFilter: searchString | slice: lowValue : highValue">
      <h3 matLine>{{user.name}} {{user.surname}}</h3>
      <p matLine class="middle">
        <span>Birthday: {{user.birthday | date: 'dd.MM.yyyy'}}</span>
        <span>Email: {{user.email}}</span>
        <span>Tel: {{user.phone}}</span>
      </p>
      <p matLine>Create/Update: {{ user["create/update"] | date: 'dd.MM.yyyy hh:mm'}}</p>
      <button
        mat-icon-button
        color="primary"
        (click)="editUser(user.id)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="this.deleteUser(user.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <mat-paginator
    [length]="users.length"
    [pageSize]="5"
    (page)="getPaginatorData($event)"
    [pageSizeOptions]="[2, 5, 10]"
  ></mat-paginator>
</div>

<div *ngIf="loading" class="spiner__wrap">
  <mat-spinner color="accent"></mat-spinner>
</div>
