.mat-list-base .mat-list-item .mat-line.middle {
  display: flex;
  width: 100%;
  padding: 10px 0;
  
  span {
    flex: 0 0 30%;
  }
}

.mat-toolbar-single-row {
  padding: 10px;
  height: auto;
}

.spiner__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
