.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  &__title {
    text-align: center;
  }
}

.mat-card-header {
  justify-content: center;
}

.users-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button{
    min-width: 33.3333%;
  }
}
